.navbar {
  background: rgb(2, 38, 71);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .7rem 0;
  gap: 2rem;
}

.navbar a {
  color: #fff;
  font-size: 23px;
  text-decoration: none;
}

.shop-icon-container {
  position: relative;
}

.cart-number {
  position: absolute;
  top: -3px;
  left: 16px;
  background-color: #fff;
  color:rgb(2, 38, 71);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}